/*index*/

.content1 {
    display: flex;
    height: 100px;
    background-color:rgb(0, 37, 248);
    padding:20px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.content1 ul li {
    display: inline;
    list-style-type: none;
    text-decoration: none;
    background-color: rgb(142, 245, 147);
    border: 7px solid rgb(147, 248, 164);
    border-radius: 5px;
    color: rgb(46, 0, 252);
}

.content1 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.content2 {
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.content3 {
    display: flex;
    height: 400px;
    width: 220px;
    background-color: rgb(1, 143, 43);
    flex-direction: column;
}

.content3 p{
    padding: 20px;
}

.content3 h1{
    background-color: rgb(245, 243, 163);
    border: 20px solid rgb(250, 252, 161);
    margin-top: -10px;
    color: rgb(3, 139, 25);
}

/*Layout 2*/

.blocoPrincipal {
    height: 50vh;
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 35px;
    margin-top: 90px
}

.bloco1 {
    height: 20vh;
    flex: 1;
    background-color: rgb(255, 251, 0);
}

.bloco2 {
    height: 30vh;
    flex: 1;
    background-color: rgb(255, 0, 0);
}

.bloco3 {
    height: 15vh;
    flex: 1;
    background-color: rgb(244, 248, 0);
}

.bloco4 {
    height: 35vh;
    flex: 1;
    background-color: rgb(255, 0, 0);
}

.bloco5 {
    height: 50vh;
    flex: 1;
    background-color: rgb(251, 255, 0);
}

.bloco6 {
    height: 20vh;
    flex: 1;
    background-color: rgb(238, 4, 4);
}

/*Layout 3*/

.container1 {
    display: flex;
    margin: 0 auto;
    height:600px;
    width: 1200px;
    flex-direction: column;
}

.container2 {
    display: flex;
    flex: 1;
    background-color: rgb(231, 184, 243);
    padding: 10px;
}

.container2 h1{
    color: rgb(106, 245, 152);
}

.container3 {
    display: flex;
    flex: 2;
    flex-direction: row;
}

.containerMenu {
    background-color: rgb(190, 0, 248);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.containerLayout ul li{
    display: inline;
    list-style-type: none;
    text-decoration: none;
    justify-content: space-around;
    background-color: rgb(0, 248, 33);
    border: 5px solid rgb(52, 252, 3);
    border-radius: 5px;
}

.containerLayout a{
    text-decoration: none;
    color: rgb(219, 127, 247);
}

.containerAd {
    display: flex;
    flex-direction: column;
    background-color: rgb(119, 0, 255);
    flex: 1;
}

.container5 {
    display: flex;
    background-color: rgb(141, 2, 255);
    flex: 2;
    flex-direction: column;
    padding: 10px;
}